html {
    font-family: 'Roboto Condensed';
}
footer {
    left: 0;
    bottom: 0;
    text-align: center;
    align-items: right;
    width: 100%;
    padding-bottom: 1px;
    font-size: 15px;
}
body {
    background-color: #e2d6d6;
    align-items: center;
    text-align: center; 
}
h1 {
    font-size: 40px;
}
.image {
    max-width: 300px;
    max-height: 300px;
}